body
{
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 16vh 0.99fr;
    grid-template-rows: 10.5vh 75vh 10.5vh;
    grid-template-areas:
        "header header"
        "nav main"
        "nav footer";
    background-image: url(../image/background_accueil.jpg);
    background-size: cover;
    color: whitesmoke;
}
header
{
    grid-area: header;
    border-style: solid;
    border-color: goldenrod;
    border-radius: 10px;
    background-color: rgb(0,3,40);
}
nav
{
    grid-area:nav;
    border-style: solid;
    border-color: goldenrod;
    border-radius: 10px;
    width:15vh;
    background-color: rgb(0,3,40);
    margin-right: 2px;
}
main
{
    grid-area: main;
}
footer
{
    grid-area:footer;
    grid-display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 10vh;
    border-style: solid;
    border-color: goldenrod;
    border-radius: 10px;
    background-color: rgb(0,3,40);

}
p
{
    color: whitesmoke;
}
h1
{
    color: whitesmoke;
    text-align: center;
}
form
{
    text-align: center;
}
strong{
    text-font: 30px;
}
ul{
    list-style-type: none;
}
#form
{
    border-style: solid;
    border-color: goldenrod;
    border-radius: 10px;
    width: 300px;
    background-color: rgb(0,3,40);
    margin: auto;
    padding: 5px;


}
#logo
{
    float: left;
    clear: none;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-left: 3px;
    width: 10vh;
    height: 10vh;
}
#accueilLogo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 100%;
}
#footerDroit
{
    display: inline-block;
    width: 48%;
    text-align: left;
    padding-left: 20px;

}
#containerHoroscope{
display: flex;
    width: 0.98fr;
}
#containerGHoroscope{
    width: 45%;
    float: left;
}
#containerDHoroscope{
    float: left;
}
#footerInfo
{
    display: inline-block;
    width:48%;
    height: 100%;
    text-align: center;
    padding-right: 10px;
}

.containerHeader
{
    height: 10.1vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.itemHeader
{
    display: inline-block;
    border: 3px solid goldenrod;
    border-radius: 10px;
    text-align: center;
    height: 9vh;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 0.1vh;
    margin-bottom 0.1vh;
}
.containerNav
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.itemNav
{
    display: inline-block;
    border: 3px solid goldenrod;
    border-radius: 10px;
    text-align: center;
    height: 88%;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 5px;
    margin-bottom 5px;
}
.footerContainer
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.horoscope{
    display: flex;
    align-items: center;
}
.horoscopeImg{
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

